.topLine{
	fill: none;
	stroke: #000;
}
.vtopLine{
	fill: none;
	stroke: #000;
	stroke-width:1px;
}
#graphCircle:hover{
      fill: #2CABA9;
      -webkit-transition: fill 1s, -webkit-transform 1s;
    transition: fill 1s, transform 1s;
}
.graphCircle{
  stroke:#1F7ACB;
  stroke-width:2;
  fill:#fff;
}
.svgPoly{
  fill:none;
  stroke: #1F7ACB;
  stroke-width:6;
}
.chartContainer{
    height: auto;
    width: 100%;
    }
.svgCaptionClass{

}
.graphTopClass{
  fill: #F5FAFF;
  stroke: #077EE4;
  stroke-width:1;

}
.axisRectClass{
  fill: none;
  stroke: #D2D2D2;
}
.xaxisticks{
  stroke-width:0.2;
  stroke: #000;
  stroke-width:0.3;
}
.yaxisticks{
  
  stroke:#000; 
}
.tootltiprect{
  stroke:#6A463A;
  stroke-width:0.6;
  fill:#FFD9CC;
}
.uppertext{
  fill: #6A463A;
}
.mainCaptionText{
  fill:#077EE4;
}
.crosshair{
  stroke:red;
  stroke-width:1px;
  stroke-dasharray:3,3;
}
.svgCrosshairRect{
  fill: transparent;
}
.CaptionText{

}
.svGrectClass{
  fill:#F7F7F7;
  stroke: #DFDFDF;
}
.BigCaptionText{
  font-family: tahoma; font-weight: bold;
}
.CaptionText{

}
.xaxisticksNames{
  writing-mode:tb;
}
.columnRectClass{
  fill:#1E7ACD;
}
.dragableDiv{
  position: absolute;
  border: 1px solid rgba(102, 0, 153,0.6);
  background:rgba(0,0,0,0.3);
  top:0px;
  left:0px;
  width: 0px;
  height: 0px;
}
.dragDiv{
    position: absolute;
  border: 1px solid rgba(102, 0, 153,0.6);
  background:rgba(0,0,0,0.3);
  top:0px;
  left:0px;
  width: 0px;
  height: 0px;
}
#pError{
  font-family: tahoma;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  text-align: center;
  cursor: not-allowed;
  background-color: #5CACEE;
  width: 300px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(92,172,238,0.8);
  padding-top: 20px;
}